{% for d in directories %}
    <p>Path: {{ d.path }} { size: {{ d.size }}, elements: {{ d.elements }} }</p>
{% endfor %}

{% for f in files %}
    <p>Path: {{ f.path }} { size: {{ f.size }}, elements: {{ f.elements }}</p>
{% endfor %}