{# Macro to join two String "a" + "b" => "ab" #}
{% macro add_str(str, other) %}
    {{ str }}{{ other }}
{% endmacro add_str %}

{# Macro using add_str to add "/subpath" to an existing path #}
{% macro add_sub_path(path, sub) %}
    {% set new_path = self::add_str(str=path, other="/") %}
    {{ self::add_str(str=new_path, other=sub) }}
{% endmacro add_sub_path %}
