<!DOCTYPE html>
<html lang="en">
<body>
    <h1> {{ path }} - name: {{ name }}, size: {{ bytes }}, number of elements: {{ elements }} </h1>
    {% for dir in directories %}
    <div class="directory" id="dir_{{ loop.index -1 }}">
        <a href="{{ dir.path }}">{{ dir.name }}</a>
    </div>
    {% endfor %}
    {% for file in files %}
        {{ file.name }} {{ file.bytes }}
    {% endfor %}
    <script>

        function api_call(id, path) {
            var r = new XMLHttpRequest();
            r.responseType = "json";

            r.onreadystatechange = function() {
                if (r.readyState != 4 || r.status != 200) return;
                var answer = r.response;
                document.getElementById(id).innerHTML += answer.bytes;
            };

            var request_url = "/api/path/" + path;

            r.open("GET", request_url, true);
            r.send();
        }
        
        directories = document.getElementsByClassName('directory');
        for(var i=0; i < directories.length; ++i){

            var str = directories[i].children[0].pathname;
            str = str.split("/home/")[1];
            api_call(directories[i].id, str);
        }
    </script>
</body>
</html>