html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

footer {
    text-align: center;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

p {margin-top:0; margin-bottom:0; }
dl {  margin-top:0; margin-bottom:0; padding-bottom: 7px; }
dd {  margin-top:0; margin-bottom:0;  }

th#name:hover, th#date:hover, th#size:hover {
    color: #007BFF; /* Bootstrap "primary" color */
}

.card {
    margin-top: 9px;
    padding-top: 8px;
    padding-left: 10px;
    padding-bottom: 0px;
}

.selection  {
    margin-top: 5px;
    margin-left: -1px;
}

.selected {

    /*
    green: #C3E6CB
    blue : #B8DAFF
    white : #FFFFFF
    */

    background-color: #B8DAFF;
    box-shadow: 0px 0px 2px black;
}

.thumbnails     { }

tbody > tr:hover {
    background-color: #DDDFE2;
    box-shadow: 0px 0px 2px black;
}

.table #name    { width:100%; }
.table #date    { visibility:hidden; }
.table #size    { visibility:hidden; }
.table #unit    { visibility:hidden; /*text-align:center;*/ }

.alert          { text-align:center; }

.main-body      { margin-top: 6%; }

ul              { margin-top: 6%; }
table           { margin-top: 2%; }


@media (min-width: 576px) {
    .main-body      { margin-top: 5%; }
}

@media (min-width: 768px) {
    .table #size    { visibility:visible; }
    .table #unit    { visibility:visible; }
    ul              { margin-top: 2%; }
    table           { margin-top: 1%; }
}

@media (min-width: 992px) {
    .table #date { visibility:hidden; }
    .table #name { width:60%; }
}

@media (min-width: 1200px) {
    .table #date    { visibility:visible; }
    .table #name    { width:75%; }
    .main-body      { margin-top: 2%; }
    table           { margin-top: 0.5%; }
}
