.tabe #name { width:auto; }
.table #date { visibility:hidden; }
.table #size { visibility:hidden; }

ul {
    margin-top: 2%;
}

@media (min-width: 576px) {
    .table #date { visibility:hidden; }
}

@media (min-width: 768px) {
    .table #size { visibility:visible; }
}

@media (min-width: 992px) {
    .table #date { visibility:visible; }
    .table #name { width:60%; }
}

@media (min-width: 1200px) {
    .table #name { width:75%; }
}
